body{
    background-color: black;
    color: darkgray;
}


.full {
    background: url("../img/asphalt_texture425.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100%;
}

.container{
    background-color: #1e1e1e;
    margin-top: 10px;
}

.attention{
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 40px;
    margin-right: 30%;
    font-family: 'Rubik', sans-serif;
}
h1{
    font-size: 76px;
    font-family: 'Anton', sans-serif;
}

h2{
    font-size: 56px;
    margin-bottom: 18px;
    font-family: 'Anton', sans-serif;
}


p{
    
}

.videoTitle{
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 1px;
    font-family: 'Anton', sans-serif;
}

.videoContent{
    margin-left: 0px;
    margin-right: 12%;
    font-size: 20px;
    line-height: 24px;
    font-family: 'Rubik', sans-serif;
}

.empuja{
    margin-bottom: 10px;
}

.empujaMas{
    margin-bottom: 8px
}

.empujaX{
    margin-bottom: 50px;
}

.footer{
    margin-bottom: 30px
}

.derechos{
    
}

.contactUs{
    
}

hr{
    margin: 0 0 3px;
}

.moveIt{
    margin: -10px 5px 0 5px;
    padding: 0:
}


.shareMe{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    margin-bottom: 60px
}



